@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: yekBold;
    src: local(yekBold), url(../../public/fonts/BYekan/BYekan+\ Bold.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: yekRegular;
    src: local(yekRegular), url(../../public/fonts/Lalezar-Regular.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: yekThin;
    src: local(yekRegular), url(../../public/fonts/BYekan/BYekan+.ttf);
    font-display: swap;
  }

  * {
    padding: 0px;
    margin: 0px;
    transition: all linear 0.15s;
  }
  html {
    direction: rtl;
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: yekBold;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    width: 100%;
  }
.ltr{
  direction: ltr;
}


  @media only screen and (max-width: 500px) {
    * {
      cursor: default;
    }
  }
}
